<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para mudança de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha resenha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, por favor, ignore este e-mail.</p>
<p>Sua senha não mudará até você acessar o link abaixo e criar uma nova</p>
